Repository georgevarghese185/slack-archive: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn web lint:fix, yarn web format:fix, yarn server lint:fix, yarn server format:fix

.lintstagedrc.json:

{
  "apps/web/**/*.{ts,tsx,js}": "yarn web lint:fix",
  "apps/web/**/*.{ts,tsx,js,json,css}": "yarn web format:fix",
  "apps/server/{src,test}/*.{ts,js}": "yarn server lint:fix",
  "apps/server/*.{ts,js,json,css}": "yarn server format:fix"
}

Add API_DELAY env variable to docker compose file
  docker-compose.yml
Due: none

Add loader for channel list
  apps/web/src/archive/channel/components/channel-picker.tsx
Due: yarn web lint:fix, yarn web format:fix

Fix inconsistent width issues with channel picker
  apps/web/src/archive/pages/archive-page.tsx
Due: yarn web lint:fix, yarn web format:fix

Fix prettier script
  apps/web/package.json
Due: yarn web format:fix

Add member store with cache
  apps/server/package.json
  apps/web/jest.config.json
  apps/web/package.json
  apps/web/src/archive/member/member-api.ts
  apps/web/src/archive/member/member-store.spec.ts
  apps/web/src/archive/member/member-store.ts
  apps/web/src/archive/member/member.ts
  yarn.lock
Due: yarn web lint:fix, yarn web format:fix, yarn server format:fix

Add member provider
  apps/web/src/app/app.tsx
  apps/web/src/archive/member/contexts/index.ts
  apps/web/src/archive/member/contexts/member-context.ts
  apps/web/src/archive/member/index.ts
  apps/web/src/archive/member/providers/index.ts
  apps/web/src/archive/member/providers/member-provider.tsx
Due: yarn web lint:fix, yarn web format:fix

Load member and render avatar and display name
  apps/web/src/archive/member/hooks/index.ts
  apps/web/src/archive/member/hooks/use-member.ts
  apps/web/src/archive/member/index.ts
  apps/web/src/archive/message/components/message-item.tsx
  apps/web/src/archive/message/components/message-item/avatar.css
  apps/web/src/archive/message/components/message-item/avatar.tsx
  apps/web/src/archive/message/components/message-item/content.tsx
  apps/web/src/archive/message/components/message-item/display-name.tsx
  apps/web/src/archive/message/components/message-item/index.ts
  apps/web/src/archive/message/components/message-item/message-item.tsx
  apps/web/src/archive/message/components/message-item/message-props.ts
  apps/web/src/archive/message/components/message-item/time.tsx
  apps/web/src/common/components/index.tsx
  apps/web/src/common/components/text-skeleton.tsx
  apps/web/src/common/index.ts
Due: yarn web lint:fix, yarn web format:fix

Fix key errors with skeleton lists
  apps/web/src/archive/channel/components/channel-picker.tsx
  apps/web/src/archive/message/components/message-history.tsx
Due: yarn web lint:fix, yarn web format:fix

Scroll to bottom of message list when a new channel's history is loaded
  apps/web/src/archive/message/components/message-history.tsx
  apps/web/src/archive/pages/archive-page.tsx
Due: yarn web lint:fix, yarn web format:fix

Show loading messages for older messages
  apps/web/src/archive/message/components/message-history.tsx
  apps/web/src/archive/message/hooks/use-messages.ts
Due: yarn web lint:fix, yarn web format:fix

wip
  apps/web/src/archive/message/components/message-history.tsx
  apps/web/src/browser/ScrollListener.ts
Due: yarn web lint:fix, yarn web format:fix

Add scroll listener
  apps/web/src/browser/index.ts
  apps/web/src/browser/scroll/index.ts
  apps/web/src/browser/scroll/scroll-listener.ts
Due: yarn web lint:fix, yarn web format:fix

Use PropsWithChildren instead of explicit type
  apps/web/src/app/components/theme-provider.tsx
  apps/web/src/archive/member/providers/member-provider.tsx
  apps/web/src/common/layouts/single-card-page.tsx
  apps/web/src/notification/providers/global-notification-provider.tsx
Due: yarn web lint:fix, yarn web format:fix

Add hook to know when older messages need to be loaded
  apps/web/src/archive/message/components/message-history.tsx
  apps/web/src/browser/scroll/contexts/index.ts
  apps/web/src/browser/scroll/contexts/scroll-context.ts
  apps/web/src/browser/scroll/hooks/index.ts
  apps/web/src/browser/scroll/hooks/use-scroll-visibility.ts
  apps/web/src/browser/scroll/index.ts
  apps/web/src/browser/scroll/providers/index.ts
  apps/web/src/browser/scroll/providers/scroll-provider.tsx
Due: yarn web lint:fix, yarn web format:fix

Add option to fetch older messages
  apps/web/src/archive/message/message-api.ts
  apps/web/src/archive/message/message-service.ts
Due: yarn web lint:fix, yarn web format:fix

Load older messages but only once
  apps/web/src/archive/message/components/message-history.tsx
  apps/web/src/archive/message/hooks/use-messages.ts
Due: yarn web lint:fix, yarn web format:fix

wip
  apps/web/.eslintrc.json
  apps/web/src/archive/message/components/message-history.tsx
  apps/web/src/archive/message/hooks/use-messages.ts
Due: yarn web lint:fix, yarn web format:fix

Move common files to backend (it's not being used by frontend yet)
  backend/src/models/Backups.js
  backend/src/models/Conversations.js
  backend/src/models/Members.js
  backend/src/models/Messages.js
  backend/src/models/implementations/sequelize/Backups.js
  backend/src/models/implementations/sequelize/Conversations.js
  backend/src/models/implementations/sequelize/Members.js
  backend/src/models/implementations/sequelize/Messages.js
  backend/test/unit/api/backup.spec.js
  backend/test/unit/api/conversations.spec.js
  backend/test/unit/api/members.spec.js
  backend/test/unit/api/messages.spec.js
  backend/test/unit/backup/conversations.spec.js
  backend/test/unit/backup/members.spec.js
  backend/test/unit/backup/messages.spec.js
  backend/test/unit/backup/start.spec.js
  common/.eslintrc.js
  dockerfiles/backend.Dockerfile
  dockerfiles/frontend.Dockerfile
  frontend/package-lock.json
Due: none

Expose DB port
  docker-compose.yml
Due: none

Switch to yarn
  backend/package-lock.json
  backend/yarn.lock
  docker-compose.yml
  dockerfiles/backend.Dockerfile
  dockerfiles/frontend.Dockerfile
  frontend/package-lock.json
  frontend/yarn.lock
Due: none

Use yarn workspaces
  .gitignore
  .nvmrc
  backend/package.json
  backend/yarn.lock
  frontend/package.json
  package.json
  yarn.lock
Due: none

Make common code a package
  apps/server/package.json
  apps/server/src/models/implementations/sequelize/Backups.js
  apps/server/src/models/implementations/sequelize/Conversations.js
  apps/server/src/models/implementations/sequelize/Members.js
  apps/server/src/models/implementations/sequelize/Messages.js
  apps/server/test/unit/api/backup.spec.js
  apps/server/test/unit/api/conversations.spec.js
  apps/server/test/unit/api/members.spec.js
  apps/server/test/unit/api/messages.spec.js
  apps/server/test/unit/backup/conversations.spec.js
  apps/server/test/unit/backup/members.spec.js
  apps/server/test/unit/backup/messages.spec.js
  apps/server/test/unit/backup/start.spec.js
  apps/web/package.json
  apps/web/src/models/remote/Conversations.js
  apps/web/src/models/remote/Members.js
  apps/web/src/models/remote/Messages.js
  libs/common/.eslintrc.js
  libs/common/package.json
  libs/common/src/index.js
  libs/common/src/models/Backups.js
  libs/common/src/models/Conversations.js
  libs/common/src/models/Members.js
  libs/common/src/models/Messages.js
  package.json
Due: yarn web lint:fix, yarn web format:fix, yarn server format:fix

Optionally serve static web files from server
  apps/server/.env.example
  apps/server/src/server/express/app.js
Due: none

Update docker files for yarn workspaces
  .dockerignore
  Dockerfile
  docker-compose.test.yml
  docker-compose.yml
  dockerfiles/backend.Dockerfile
  dockerfiles/frontend.Dockerfile
Due: none

Fix frontend lint warnings
  apps/web/src/store/messages/posts.js
  apps/web/src/store/messages/thread.js
Due: yarn web lint:fix, yarn web format:fix

Add job to build and push image for main branch
  .github/workflows/build-and-push.yml
  .github/workflows/delete-tag.yml
  .github/workflows/promote-build.yml
  .github/workflows/release-latest.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Add workflow for version tags
  .github/workflows/release-version.yml
  package.json
Due: none

Add pull request and dev release workflows
  .github/workflows/pull-request.yml
  .github/workflows/release-dev.yml
Due: none

Rewrite Actions for new workspaces setup (#26)
  .github/workflows/build-and-push.yml
  .github/workflows/delete-tag.yml
  .github/workflows/promote-build.yml
  .github/workflows/pull-request.yml
  .github/workflows/release-dev.yml
  .github/workflows/release-latest.yml
  .github/workflows/release-version.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
Due: none

Default port inside Dockerfile to 80
  Dockerfile
Due: none

Run DB migrations before starting
  Dockerfile
Due: none

Add NestJS server
  .nvmrc
  apps/server-nest/.eslintrc.js
  apps/server-nest/.gitignore
  apps/server-nest/.prettierrc
  apps/server-nest/README.md
  apps/server-nest/nest-cli.json
  apps/server-nest/package.json
  apps/server-nest/src/app.controller.spec.ts
  apps/server-nest/src/app.controller.ts
  apps/server-nest/src/app.module.ts
  apps/server-nest/src/app.service.ts
  apps/server-nest/src/main.ts
  apps/server-nest/test/app.e2e-spec.ts
  apps/server-nest/test/jest-e2e.json
  apps/server-nest/tsconfig.build.json
  apps/server-nest/tsconfig.json
  package.json
  yarn.lock
Due: none

Implement auth-url API
  apps/server-nest/.dockerignore
  apps/server-nest/.env.local
  apps/server-nest/.gitignore
  apps/server-nest/package.json
  apps/server-nest/src/app.module.ts
  apps/server-nest/src/auth/auth.controller.ts
  apps/server-nest/src/auth/auth.module.ts
  apps/server-nest/src/auth/auth.service.ts
  apps/server-nest/src/auth/auth.types.ts
  apps/server-nest/src/auth/index.ts
  apps/server-nest/src/config/config.defaults.ts
  apps/server-nest/src/config/config.module.ts
  apps/server-nest/src/config/config.service.ts
  apps/server-nest/src/config/config.types.ts
  apps/server-nest/src/config/index.ts
  apps/server-nest/src/main.ts
  apps/server-nest/src/slack/index.ts
  apps/server-nest/src/slack/slack.constants.ts
  apps/server-nest/test/app.e2e-spec.ts
  apps/server-nest/test/auth/get-auth-url.e2e-spec.ts
  apps/server-nest/test/auth/get-auth-url.spec.ts
  apps/server-nest/test/jest-e2e.json
  yarn.lock
Due: none

Don't use prettier as an eslint rule
  apps/server-nest/.eslintrc.js
  apps/server-nest/package.json
  yarn.lock
Due: none

Add pre-commit hooks for the nest server
  .husky/pre-commit
  .lintstagedrc.json
  apps/server-nest/package.json
  package.json
  yarn.lock
Due: none

Implement successful login logic
  .lintstagedrc.json
  apps/server-nest/.eslintrc.js
  apps/server-nest/package.json
  apps/server-nest/src/app.module.ts
  apps/server-nest/src/auth/auth.module.ts
  apps/server-nest/src/auth/auth.service.ts
  apps/server-nest/src/auth/auth.types.ts
  apps/server-nest/src/auth/dto/login.dto.ts
  apps/server-nest/src/auth/token/token.service.spec.ts
  apps/server-nest/src/auth/token/token.service.ts
  apps/server-nest/src/config/config.service.ts
  apps/server-nest/src/slack/slack-api.provider.ts
  apps/server-nest/src/slack/slack.module.ts
  apps/server-nest/src/slack/slack.types.ts
  apps/server-nest/test/auth/get-auth-url.spec.ts
  apps/server-nest/test/auth/login.spec.ts
  apps/server-nest/test/mock/config.ts
  yarn.lock
Due: none

Implement login error handling
  apps/server-nest/.env.local
  apps/server-nest/src/app.controller.spec.ts
  apps/server-nest/src/app.controller.ts
  apps/server-nest/src/app.module.ts
  apps/server-nest/src/app.service.ts
  apps/server-nest/src/auth/auth.errors.ts
  apps/server-nest/src/auth/auth.module.ts
  apps/server-nest/src/auth/auth.service.ts
  apps/server-nest/src/common/error.ts
  apps/server-nest/src/common/logger/logger.module.ts
  apps/server-nest/src/common/logger/logger.ts
  apps/server-nest/src/slack/slack.errors.ts
  apps/server-nest/test/auth/get-auth-url.spec.ts
  apps/server-nest/test/auth/login.spec.ts
Due: none

Make a separate workspace for mock slack server
  apps/mock-slack/.env.local
  apps/mock-slack/.gitignore
  apps/mock-slack/.prettierrc
  apps/mock-slack/package.json
  apps/mock-slack/src/app/app.js
  apps/mock-slack/src/app/index.js
  apps/mock-slack/src/generator/conversation/conversation.json
  apps/mock-slack/src/generator/conversation/conversations.json
  apps/mock-slack/src/generator/conversation/index.js
  apps/mock-slack/src/generator/index.js
  apps/mock-slack/src/generator/member/avatars.json
  apps/mock-slack/src/generator/member/index.js
  apps/mock-slack/src/generator/member/member.json
  apps/mock-slack/src/generator/member/names.json
  apps/mock-slack/src/generator/message/index.js
  apps/mock-slack/src/generator/message/message.json
  apps/mock-slack/src/generator/random.js
  apps/mock-slack/src/generator/text/index.js
  apps/mock-slack/src/generator/text/lipsums.json
  package.json
  yarn.lock
Due: none
