Repository georgevarghese185/slack-archive: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run:server-nest lint:fix, yarn run:server-nest format:fix, yarn run:generator lint:fix, yarn run:generator format:fix, yarn run:slack format:fix

Add message generator
  libs/mock-slack-generator/src/index.ts
  libs/mock-slack-generator/src/message/index.ts
  libs/mock-slack-generator/src/message/message.generator.spec.ts
  libs/mock-slack-generator/src/message/message.generator.ts
  libs/mock-slack-generator/src/message/message.template.json
  libs/mock-slack-generator/src/message/message.ts
  libs/mock-slack-generator/src/message/timestamp.generator.ts
  libs/mock-slack-generator/src/message/timestamp.ts
  libs/mock-slack-generator/src/random/random.generator.ts
Due: yarn run:generator lint:fix, yarn run:generator format:fix

Add archive generator
  libs/mock-slack-generator/src/archive/archive.generator.spec.ts
  libs/mock-slack-generator/src/archive/archive.generator.ts
  libs/mock-slack-generator/src/archive/archive.ts
  libs/mock-slack-generator/src/archive/index.ts
  libs/mock-slack-generator/src/index.ts
  libs/mock-slack-generator/src/random/random.generator.ts
Due: yarn run:generator lint:fix, yarn run:generator format:fix

Use generator library
  apps/mock-slack/src/app/app.js
  apps/mock-slack/src/generator/conversation/conversation.json
  apps/mock-slack/src/generator/conversation/index.d.ts
  apps/mock-slack/src/generator/conversation/index.js
  apps/mock-slack/src/generator/generator.js
  apps/mock-slack/src/generator/index.js
  apps/mock-slack/src/generator/member/index.d.ts
  apps/mock-slack/src/generator/member/index.js
  apps/mock-slack/src/generator/member/member.json
  apps/mock-slack/src/generator/message/index.js
  apps/mock-slack/src/generator/message/message.json
  apps/mock-slack/src/generator/random.js
  apps/mock-slack/src/generator/text/index.js
Due: yarn run:slack format:fix

Do DTO converstions in controllers so that services are reusable
  apps/server-nest/src/backup/backup.controller.ts
  apps/server-nest/src/backup/backup.service.ts
  apps/server-nest/src/conversation/conversation.controller.ts
  apps/server-nest/src/conversation/conversation.service.ts
  apps/server-nest/src/member/member.controller.ts
  apps/server-nest/src/member/member.repository.ts
  apps/server-nest/src/member/member.service.ts
  apps/server-nest/test/backup/get-backup.spec.ts
  apps/server-nest/test/backup/new-backup.spec.ts
  apps/server-nest/test/conversation/list-conversations.spec.ts
  apps/server-nest/test/member/get-member.spec.ts
  apps/server-nest/test/member/list-members.spec.ts
Due: yarn run:server-nest lint:fix, yarn run:server-nest format:fix

Implement backing up messages from a conversation
  apps/server-nest/src/app.module.ts
  apps/server-nest/src/backup/runner/backup-runner.module.ts
  apps/server-nest/src/backup/runner/backup-runner.service.ts
  apps/server-nest/src/backup/runner/message-backup.service.ts
  apps/server-nest/src/message/index.ts
  apps/server-nest/src/message/message.entity.ts
  apps/server-nest/src/message/message.repository.ts
  apps/server-nest/src/message/message.service.ts
  apps/server-nest/src/message/message.types.ts
  apps/server-nest/src/slack/slack-api.provider.ts
  apps/server-nest/src/slack/slack.types.ts
  apps/server-nest/test/backup/backup-conversations.spec.ts
  apps/server-nest/test/backup/backup-members.spec.ts
  apps/server-nest/test/backup/backup-messages.spec.ts
  apps/server-nest/test/backup/backup.spec.ts
  apps/server-nest/test/message/fixture/index.ts
  apps/server-nest/test/message/fixture/message.fixture.ts
Due: yarn run:server-nest lint:fix, yarn run:server-nest format:fix

Update backup status when errors occur
  apps/server-nest/src/backup/runner/backup-runner.service.ts
  apps/server-nest/test/backup/backup-conversations.spec.ts
  apps/server-nest/test/backup/backup-members.spec.ts
Due: yarn run:server-nest lint:fix, yarn run:server-nest format:fix

Encapsulate BackupRepository in BackupService
  apps/server-nest/src/backup/backup.module.ts
  apps/server-nest/src/backup/backup.service.ts
  apps/server-nest/src/backup/runner/backup-cancellation.service.ts
  apps/server-nest/src/backup/runner/backup-runner.module.ts
  apps/server-nest/src/backup/runner/backup-runner.service.ts
  apps/server-nest/src/backup/runner/conversation-backup.service.ts
  apps/server-nest/src/backup/runner/member-backup.service.ts
  apps/server-nest/src/backup/runner/message-backup.service.ts
  apps/server-nest/test/backup/backup-conversations.spec.ts
  apps/server-nest/test/backup/backup-members.spec.ts
  apps/server-nest/test/backup/backup-messages.spec.ts
  apps/server-nest/test/backup/backup.spec.ts
Due: yarn run:server-nest lint:fix, yarn run:server-nest format:fix

Backpup threads
  apps/server-nest/src/backup/runner/message-backup.service.ts
  apps/server-nest/src/message/index.ts
  apps/server-nest/src/message/message.entity.ts
  apps/server-nest/src/message/message.types.ts
  apps/server-nest/src/message/message.util.ts
  apps/server-nest/src/slack/slack-api.provider.ts
  apps/server-nest/src/slack/slack.types.ts
  apps/server-nest/test/backup/backup-messages.spec.ts
  apps/server-nest/test/conversation/fixture/conversation.fixture.ts
Due: yarn run:server-nest lint:fix, yarn run:server-nest format:fix

Files?
  libs/mock-slack-generator/src/file/file.generator.spec.ts
  libs/mock-slack-generator/src/file/file.generator.ts
  libs/mock-slack-generator/src/file/file.ts
  libs/mock-slack-generator/src/file/index.ts
  libs/mock-slack-generator/src/random/random.generator.ts
Due: yarn run:generator lint:fix, yarn run:generator format:fix

Accept optional db schema name in migration (fix issue with postgres where db schema is forced to be "public" in addColumn())
  apps/server/src/models/implementations/sequelize/migrations/20220724143900-coversationsMultipleErrors.js
Due: none

Replace docker-compose with docker compose
  .github/workflows/test.yml
Due: none

Path conditions:
  yarn run:server-nest lint:fix: any of: apps/server-nest/{src,test}/**/*.{ts,js}
  yarn run:server-nest format:fix: any of: apps/server-nest/**/*.{ts,js,json,css}
  yarn run:generator lint:fix: any of: libs/mock-slack-generator/src/**/*.{ts,js}
  yarn run:generator format:fix: any of: libs/mock-slack-generator/**/*.{ts,js,json,css}
  yarn run:slack format:fix: any of: apps/mock-slack/**/*.{ts,js,json,css}
