Repository georgevarghese185/slack-archive: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run:server-nest lint, yarn run:server-nest format

.lintstagedrc.json:

{
  "apps/server-nest/{src,test}/*.{ts,js}": "yarn run:server-nest lint",
  "apps/server-nest/*.{ts,js,json,css}": "yarn run:server-nest format"
}

Implement Login http API
  apps/server-nest/.env.local
  apps/server-nest/.eslintrc.js
  apps/server-nest/package.json
  apps/server-nest/src/app.module.ts
  apps/server-nest/src/auth/auth.controller.ts
  apps/server-nest/src/auth/auth.service.ts
  apps/server-nest/src/auth/dto/login.dto.ts
  apps/server-nest/src/common/error/default.exception-filter.ts
  apps/server-nest/src/common/error/error.ts
  apps/server-nest/src/common/error/index.ts
  apps/server-nest/src/config/config.service.ts
  apps/server-nest/src/config/config.types.ts
  apps/server-nest/src/slack/slack-api.provider.ts
  apps/server-nest/src/slack/slack.module.ts
  apps/server-nest/src/slack/slack.types.ts
  apps/server-nest/test/auth/get-auth-url.e2e-spec.ts
  apps/server-nest/test/auth/login.e2e-spec.ts
  apps/server-nest/test/auth/login.spec.ts
  apps/server-nest/test/auth/login.util.ts
  apps/server-nest/test/error-handling.e2e-spec.ts
  apps/server-nest/test/jest-e2e.json
  apps/server-nest/test/setup-e2e.ts
  apps/server-nest/test/test-app.module.ts
  yarn.lock
Due: yarn run:server-nest lint, yarn run:server-nest format

Enable stricter TS rules
  apps/server-nest/package.json
  apps/server-nest/src/auth/auth.controller.ts
  apps/server-nest/src/auth/auth.service.ts
  apps/server-nest/src/auth/dto/login.dto.ts
  apps/server-nest/src/auth/token/token.errors.ts
  apps/server-nest/src/auth/token/token.service.ts
  apps/server-nest/src/common/error/default.exception-filter.ts
  apps/server-nest/src/common/error/error.ts
  apps/server-nest/src/config/config.module.ts
  apps/server-nest/src/config/config.service.ts
  apps/server-nest/src/slack/slack-api.provider.ts
  apps/server-nest/test/auth/get-auth-url.spec.ts
  apps/server-nest/test/auth/login.e2e-spec.ts
  apps/server-nest/test/auth/login.spec.ts
  apps/server-nest/test/auth/login.util.ts
  apps/server-nest/test/error-handling.e2e-spec.ts
  apps/server-nest/test/mock/config.ts
  apps/server-nest/test/setup-e2e.ts
  apps/server-nest/tsconfig.json
Due: yarn run:server-nest lint, yarn run:server-nest format

Implement login validation
  .lintstagedrc.json
  apps/server-nest/src/auth/auth.service.ts
  apps/server-nest/src/auth/token/token.errors.ts
  apps/server-nest/src/auth/token/token.service.ts
  apps/server-nest/src/config/config.service.ts
  apps/server-nest/src/slack/slack-api.provider.ts
  apps/server-nest/src/slack/slack.types.ts
  apps/server-nest/test/auth/get-auth-url.spec.ts
  apps/server-nest/test/auth/login-status.spec.ts
  apps/server-nest/test/auth/login.spec.ts
  apps/server-nest/test/mock/config.ts
  apps/server-nest/tsconfig.json
Due: yarn run:server-nest format

Disable importsNotUsedAsValues tsconfig rule because of caused problems
  apps/server-nest/src/auth/auth.controller.ts
  apps/server-nest/src/auth/auth.service.ts
  apps/server-nest/src/auth/token/token.service.ts
  apps/server-nest/src/common/error/default.exception-filter.ts
  apps/server-nest/src/common/error/error.ts
  apps/server-nest/src/config/config.service.ts
  apps/server-nest/src/slack/slack-api.provider.ts
  apps/server-nest/test/auth/get-auth-url.spec.ts
  apps/server-nest/test/auth/login.e2e-spec.ts
  apps/server-nest/test/auth/login.util.ts
  apps/server-nest/test/error-handling.e2e-spec.ts
  apps/server-nest/test/mock/config.ts
  apps/server-nest/tsconfig.json
Due: yarn run:server-nest lint, yarn run:server-nest format

Implement authentication
  apps/server-nest/.eslintrc.js
  apps/server-nest/package.json
  apps/server-nest/src/app.module.ts
  apps/server-nest/src/auth/auth.controller.ts
  apps/server-nest/src/auth/auth.guard.ts
  apps/server-nest/src/auth/auth.module.ts
  apps/server-nest/src/auth/auth.service.ts
  apps/server-nest/src/auth/auth.types.ts
  apps/server-nest/src/auth/token.decorator.ts
  apps/server-nest/src/auth/token/token.errors.ts
  apps/server-nest/src/auth/token/token.service.ts
  apps/server-nest/src/common/error/default.exception-filter.ts
  apps/server-nest/src/main.ts
  apps/server-nest/src/slack/slack-api.provider.ts
  apps/server-nest/test/auth/login.e2e-spec.ts
  apps/server-nest/test/auth/login.spec.ts
  apps/server-nest/test/auth/login.util.ts
  apps/server-nest/test/test-app.module.ts
  yarn.lock
Due: yarn run:server-nest lint, yarn run:server-nest format

Add logout API
  apps/server-nest/src/auth/auth.controller.ts
  apps/server-nest/src/auth/auth.service.ts
  apps/server-nest/test/auth/auth.util.ts
  apps/server-nest/test/auth/login.e2e-spec.ts
  apps/server-nest/test/auth/logout.spec.ts
Due: none

Implement backup stats
  apps/server-nest/src/backup/backup.repository.ts
  apps/server-nest/src/backup/backup.service.ts
  apps/server-nest/src/backup/backup.types.ts
  apps/server-nest/src/conversation/conversation.repository.ts
  apps/server-nest/src/conversation/conversation.service.ts
  apps/server-nest/src/message/message.repository.ts
  apps/server-nest/src/message/message.service.ts
  apps/server-nest/test/backup/backup-stats.spec.ts
  apps/server/package.json
Due: none

Add TypeORM DB connection
  apps/server-nest/.env.local
  apps/server-nest/package.json
  apps/server-nest/src/app.module.ts
  apps/server-nest/src/config/config.module.ts
  apps/server-nest/src/config/config.service.ts
  apps/server-nest/src/config/env.ts
  apps/server-nest/src/config/index.ts
  apps/server-nest/src/database/database.module.ts
  apps/server-nest/src/database/typeorm/data-source.ts
  apps/server-nest/src/database/typeorm/typeorm.config.ts
  yarn.lock
Due: yarn run:server-nest lint, yarn run:server-nest format

Add backup entity
  apps/server-nest/src/backup/backup.entity.ts
Due: none

Fix typo in backup stats
  apps/server-nest/src/backup/backup.service.ts
  apps/server-nest/test/backup/backup-stats.spec.ts
Due: none

Implement creating a new backup
  apps/server-nest/package.json
  apps/server-nest/src/backup/backup.errors.ts
  apps/server-nest/src/backup/backup.repository.ts
  apps/server-nest/src/backup/backup.service.ts
  apps/server-nest/src/backup/backup.types.ts
  apps/server-nest/test/backup/backup-stats.spec.ts
  apps/server-nest/test/backup/new-backup.spec.ts
Due: yarn run:server-nest format

Implement getting backups
  apps/server-nest/src/backup/backup.errors.ts
  apps/server-nest/src/backup/backup.repository.ts
  apps/server-nest/src/backup/backup.service.ts
  apps/server-nest/test/backup/get-backup.spec.ts
Due: none

Implement simple backup E2E tests
  apps/server-nest/package.json
  apps/server-nest/src/app.module.ts
  apps/server-nest/src/auth/auth.guard.ts
  apps/server-nest/src/auth/auth.service.ts
  apps/server-nest/src/auth/user-id.decorator.ts
  apps/server-nest/src/backup/backup.controller.ts
  apps/server-nest/src/backup/backup.module.ts
  apps/server-nest/src/backup/backup.repository.ts
  apps/server-nest/src/backup/backup.service.ts
  apps/server-nest/src/backup/dto/backup.dto.ts
  apps/server-nest/src/conversation/conversation.module.ts
  apps/server-nest/src/message/message.module.ts
  apps/server-nest/src/types/request.d.ts
  apps/server-nest/test/backup/backup.e2e-spec.ts
  apps/server-nest/test/backup/get-backup.spec.ts
  apps/server-nest/test/backup/new-backup.spec.ts
Due: yarn run:server-nest lint, yarn run:server-nest format

Implement backup APIs
  apps/server-nest/package.json
  apps/server-nest/src/backup/backup.controller.ts
  apps/server-nest/src/backup/backup.entity.ts
  apps/server-nest/src/backup/backup.repository.ts
  apps/server-nest/src/conversation/conversation.module.ts
  apps/server-nest/src/conversation/conversation.repository.ts
  apps/server-nest/src/conversation/converstion.entity.ts
  apps/server-nest/src/message/message.entity.ts
  apps/server-nest/src/message/message.module.ts
  apps/server-nest/src/message/message.repository.ts
  apps/server-nest/src/types/jest.d.ts
  apps/server-nest/test/backup/backup.e2e-spec.ts
  apps/server-nest/test/jest-e2e.json
  apps/server-nest/test/setup-jest-extended.ts
  yarn.lock
Due: yarn run:server-nest lint, yarn run:server-nest format

Optimize imports
  apps/server-nest/src/app.module.ts
  apps/server-nest/src/auth/auth.controller.ts
  apps/server-nest/src/auth/auth.errors.ts
  apps/server-nest/src/auth/auth.service.ts
  apps/server-nest/src/auth/decorator/index.ts
  apps/server-nest/src/auth/decorator/token.decorator.ts
  apps/server-nest/src/auth/decorator/user-id.decorator.ts
  apps/server-nest/src/auth/dto/index.ts
  apps/server-nest/src/auth/index.ts
  apps/server-nest/src/auth/token/index.ts
  apps/server-nest/src/auth/token/token.errors.ts
  apps/server-nest/src/backup/backup.controller.ts
  apps/server-nest/src/backup/backup.errors.ts
  apps/server-nest/src/backup/backup.service.ts
  apps/server-nest/src/backup/dto/index.ts
  apps/server-nest/src/common/error/index.ts
  apps/server-nest/src/common/index.ts
  apps/server-nest/src/database/database.module.ts
  apps/server-nest/src/database/typeorm/index.ts
  apps/server-nest/src/slack/index.ts
  apps/server-nest/src/slack/slack-api.provider.ts
  apps/server-nest/src/slack/slack.errors.ts
Due: yarn run:server-nest lint

Rename method
  apps/server-nest/src/backup/backup.controller.ts
  apps/server-nest/src/backup/backup.service.ts
  apps/server-nest/test/backup/new-backup.spec.ts
Due: none

Add no-floating-promises lint rule
  apps/server-nest/.eslintrc.js
  apps/server-nest/src/auth/auth.service.ts
  apps/server-nest/src/main.ts
Due: yarn run:server-nest lint, yarn run:server-nest format

Backup conversations
  apps/server-nest/src/backup/backup-runner.service.ts
  apps/server-nest/src/conversation/conversation.repository.ts
  apps/server-nest/src/conversation/conversation.service.ts
  apps/server-nest/src/conversation/conversation.types.ts
  apps/server-nest/src/conversation/converstion.entity.ts
  apps/server-nest/src/slack/slack-api.provider.ts
  apps/server-nest/src/slack/slack.types.ts
  apps/server-nest/test/backup/backup-conversations.spec.ts
Due: none

Handle pagination and cancellation in conversation backups
  apps/server-nest/src/backup/backup-runner.service.ts
  apps/server-nest/src/backup/backup.errors.ts
  apps/server-nest/src/backup/backup.repository.ts
  apps/server-nest/src/backup/index.ts
  apps/server-nest/src/backup/runner/backup-cancellation.service.ts
  apps/server-nest/src/backup/runner/backup-runner.service.ts
  apps/server-nest/src/backup/runner/conversation-backup.service.ts
  apps/server-nest/src/common/error/error.ts
  apps/server-nest/src/conversation/index.ts
  apps/server-nest/src/slack/index.ts
  apps/server-nest/src/slack/slack-api.provider.ts
  apps/server-nest/src/slack/slack.types.ts
  apps/server-nest/test/backup/backup-conversations.spec.ts
  apps/server-nest/test/backup/get-backup.spec.ts
Due: none

Add conversation list
  apps/server-nest/src/conversation/conversation.repository.ts
  apps/server-nest/src/conversation/conversation.service.ts
  apps/server-nest/test/conversation/get-conversations.spec.ts
Due: none

Set a backup as completed
  apps/server-nest/src/backup/runner/backup-runner.service.ts
  apps/server-nest/test/backup/backup.spec.ts
Due: none

Fix error log stack prints and include an error label
  apps/server-nest/src/auth/auth.service.ts
  apps/server-nest/src/common/error/default.exception-filter.ts
  apps/server-nest/src/common/logger/logger.ts
Due: none

Re-use app in e2e tests and close app on end
  apps/server-nest/test/auth/login.e2e-spec.ts
  apps/server-nest/test/backup/backup.e2e-spec.ts
  apps/server-nest/test/error-handling.e2e-spec.ts
Due: yarn run:server-nest lint

Refactor request function in SlackApiProvider
  apps/server-nest/src/slack/slack-api.provider.ts
Due: none

UHandle rate limiting slack APIs
  apps/server-nest/src/common/axios/with-rate-limiting.ts
  apps/server-nest/src/slack/slack-api.provider.ts
Due: none

Implement conversations backup
  apps/server-nest/package.json
  apps/server-nest/src/app.module.ts
  apps/server-nest/src/auth/decorator/access-token.decorator.ts
  apps/server-nest/src/backup/backup.controller.ts
  apps/server-nest/src/backup/backup.entity.ts
  apps/server-nest/src/backup/backup.module.ts
  apps/server-nest/src/backup/backup.service.ts
  apps/server-nest/src/backup/backup.types.ts
  apps/server-nest/src/backup/runner/backup-runner.module.ts
  apps/server-nest/src/backup/runner/backup-runner.service.ts
  apps/server-nest/src/backup/runner/conversation-backup.service.ts
  apps/server-nest/src/conversation/conversation.repository.ts
  apps/server-nest/src/conversation/converstion.entity.ts
  apps/server-nest/src/slack/slack-api.provider.ts
  apps/server-nest/src/slack/slack.types.ts
  apps/server-nest/test/backup/backup-conversations.spec.ts
  apps/server-nest/test/backup/backup-stats.spec.ts
  apps/server-nest/test/backup/backup.e2e-spec.ts
  apps/server-nest/test/backup/backup.spec.ts
  apps/server-nest/test/backup/get-backup.spec.ts
  apps/server-nest/test/backup/new-backup.spec.ts
  yarn.lock
Due: yarn run:server-nest lint, yarn run:server-nest format

Fix issues with health API
  apps/server-nest/src/app.controller.ts
  apps/server-nest/src/auth/auth.controller.ts
  apps/server-nest/src/auth/decorator/index.ts
  apps/server-nest/src/auth/decorator/public.decorator.ts
  apps/server-nest/src/backup/backup.controller.ts
  apps/server-nest/test/health.e2e-spec.ts
Due: yarn run:server-nest lint

Backup members
  apps/server-nest/src/backup/runner/backup-runner.module.ts
  apps/server-nest/src/backup/runner/backup-runner.service.ts
  apps/server-nest/src/backup/runner/conversation-backup.service.ts
  apps/server-nest/src/backup/runner/member-backup.service.ts
  apps/server-nest/src/member/index.ts
  apps/server-nest/src/member/member.entity.ts
  apps/server-nest/src/member/member.module.ts
  apps/server-nest/src/member/member.repository.ts
  apps/server-nest/src/member/member.service.ts
  apps/server-nest/src/member/member.types.ts
  apps/server-nest/src/slack/slack-api.provider.ts
  apps/server-nest/src/slack/slack.types.ts
  apps/server-nest/test/backup/backup-members.spec.ts
  apps/server-nest/test/backup/backup.spec.ts
Due: none

Add member list functionality
  apps/server-nest/src/member/member.repository.ts
  apps/server-nest/src/member/member.service.ts
  apps/server-nest/test/member/get-members.spec.ts
Due: none

Implement conversation list API end-to-end
  apps/mock-slack/src/app/app.js
  apps/server-nest/src/app.module.ts
  apps/server-nest/src/conversation/conversation.controller.ts
  apps/server-nest/src/conversation/conversation.module.ts
  apps/server-nest/src/conversation/conversation.service.ts
  apps/server-nest/src/conversation/dto/conversation.dto.ts
  apps/server-nest/test/backup/backup.util.ts
  apps/server-nest/test/conversation/get-conversations.e2e-spec.ts
  apps/server-nest/test/conversation/get-conversations.spec.ts
Due: yarn run:server-nest lint

Refactor backup e2e tests
  apps/server-nest/test/backup/backup.e2e-spec.ts
  apps/server-nest/test/backup/backup.util.ts
Due: none

Handle conversation and member backup errors
  apps/server-nest/src/auth/auth.service.ts
  apps/server-nest/src/backup/runner/backup-runner.service.ts
  apps/server-nest/src/backup/runner/conversation-backup.service.ts
  apps/server-nest/src/backup/runner/member-backup.service.ts
  apps/server-nest/src/slack/slack-api.provider.ts
  apps/server-nest/src/slack/slack.errors.ts
  apps/server-nest/test/auth/login-status.spec.ts
  apps/server-nest/test/auth/login.spec.ts
  apps/server-nest/test/backup/backup-conversations.spec.ts
  apps/server-nest/test/backup/backup-members.spec.ts
  apps/server-nest/test/error-handling.e2e-spec.ts
Due: yarn run:server-nest lint

Use member Dto to return important fields
  apps/server-nest/src/member/dto/index.ts
  apps/server-nest/src/member/dto/member.dto.ts
  apps/server-nest/src/member/member.entity.ts
  apps/server-nest/src/member/member.service.ts
  apps/server-nest/src/member/member.types.ts
  apps/server-nest/src/slack/slack.types.ts
  apps/server-nest/test/backup/backup-members.spec.ts
  apps/server-nest/test/backup/backup.spec.ts
  apps/server-nest/test/conversation/get-conversations.e2e-spec.ts
  apps/server-nest/test/member/get-members.spec.ts
Due: none

Implement member list API e2e
  apps/server-nest/src/member/member.controller.ts
  apps/server-nest/src/member/member.module.ts
  apps/server-nest/test/member/get-members.e2e-spec.ts
Due: none

Rename tests
  apps/server-nest/test/conversation/conversations.e2e-spec.ts
  apps/server-nest/test/conversation/get-conversations.e2e-spec.ts
  apps/server-nest/test/conversation/list-conversations.spec.ts
  apps/server-nest/test/member/get-members.e2e-spec.ts
  apps/server-nest/test/member/list-members.spec.ts
  apps/server-nest/test/member/members.e2e-spec.ts
Due: none

Get member by id, e2e test improvements and refactor
  apps/server-nest/src/member/index.ts
  apps/server-nest/src/member/member.controller.ts
  apps/server-nest/src/member/member.errors.ts
  apps/server-nest/src/member/member.repository.ts
  apps/server-nest/src/member/member.service.ts
  apps/server-nest/test/backup/backup.e2e-spec.ts
  apps/server-nest/test/conversation/conversations.e2e-spec.ts
  apps/server-nest/test/member/get-member.spec.ts
  apps/server-nest/test/member/members.e2e-spec.ts
Due: none

Use mock slack generator for tests
  .lintstagedrc.json
  apps/mock-slack/package.json
  apps/mock-slack/src/app/app.js
  apps/mock-slack/src/generator/conversation/conversations.json
  apps/mock-slack/src/generator/conversation/index.d.ts
  apps/mock-slack/src/generator/conversation/index.js
  apps/mock-slack/src/generator/member/avatars.json
  apps/mock-slack/src/generator/member/index.d.ts
  apps/mock-slack/src/generator/member/index.js
  apps/mock-slack/src/generator/member/names.json
  apps/mock-slack/src/generator/text/index.js
  apps/mock-slack/src/generator/text/lipsums.json
  apps/server-nest/package.json
  apps/server-nest/test/backup/backup-conversations.spec.ts
  apps/server-nest/test/backup/backup-members.spec.ts
  apps/server-nest/test/conversation/fixture/conversation.fixture.ts
  apps/server-nest/test/conversation/fixture/index.ts
  apps/server-nest/test/conversation/list-conversations.spec.ts
  apps/server-nest/test/member/fixture/index.ts
  apps/server-nest/test/member/fixture/member.fixture.ts
  apps/server-nest/test/member/get-member.spec.ts
  apps/server-nest/test/member/list-members.spec.ts
  apps/server-nest/tsconfig.json
  yarn.lock
Due: yarn run:server-nest format

Fix e2e tests failing when new data is generated
  apps/server-nest/test/conversation/conversations.e2e-spec.ts
  apps/server-nest/test/member/members.e2e-spec.ts
Due: none

Add separate generator library, add member generator
  .gitignore
  .lintstagedrc.json
  .vscode/.settings.json
  apps/server-nest/test/member/fixture/member.fixture.ts
  libs/mock-slack-generator/.eslintrc.js
  libs/mock-slack-generator/.gitignore
  libs/mock-slack-generator/.prettierrc.json
  libs/mock-slack-generator/jest.config.json
  libs/mock-slack-generator/package.json
  libs/mock-slack-generator/src/index.ts
  libs/mock-slack-generator/src/member/index.ts
  libs/mock-slack-generator/src/member/member.generator.spec.ts
  libs/mock-slack-generator/src/member/member.generator.ts
  libs/mock-slack-generator/src/member/member.template.json
  libs/mock-slack-generator/src/member/member.ts
  libs/mock-slack-generator/src/random/index.ts
  libs/mock-slack-generator/src/random/random.generator.ts
  libs/mock-slack-generator/tsconfig.json
  package.json
  yarn.lock
Due: none

Add conversation generator
  apps/server-nest/test/conversation/fixture/conversation.fixture.ts
  libs/mock-slack-generator/src/conversation/conversation.generator.spec.ts
  libs/mock-slack-generator/src/conversation/conversation.generator.ts
  libs/mock-slack-generator/src/conversation/conversation.template.json
  libs/mock-slack-generator/src/conversation/conversation.ts
  libs/mock-slack-generator/src/conversation/index.ts
  libs/mock-slack-generator/src/index.ts
  libs/mock-slack-generator/src/random/random.generator.ts
Due: none
